{
    "plugins": [
        "json",
        "markdown"
    ],
    "extends": ["eslint:recommended"],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jquery": true
    },

    "globals": {
        "require": true
    },

    "parser": "typescript-eslint-parser",

    "parserOptions": {
        "sourceType": "module"
    },

    "rules": {
        "eol-last": ["error", "always"],
        "max-len": ["error", { "code": 120, "tabWidth": 4}],
        "max-nested-callbacks": ["error", 3],
        "no-trailing-spaces": "error",
        "quotes": ["error", "double", {"avoidEscape": true, "allowTemplateLiterals": true}],
        "semi": ["error", "always"],
        "space-before-blocks": ["error", "always"],
        "spaced-comment": ["error", "always"],
        "strict": ["error", "global"],
        "indent": ["error", 4],

        "no-console": "off",

        // typescript-eslint issues
        "no-undef": "off",
        "no-unused-vars": "off"
    }
}