body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#mainWindow {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: deepskyblue;
    margin: 0;
}

#uploadButton {
    height: 20px;
    padding: 20px;
    margin: 0 auto;
}

#workspace {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
    background-color: aquamarine;
}


